{% extends 'auctions/layout.html' %}

{% block body %}
<!-- Alert messages  -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
     <div {% if message.tags == 'error' %} class="alert alert-danger" {% else %} class="alert alert-primary" {% endif %} role="alert">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}


<h2><b>Listing:</b> {{listing.title}}</h2> 



<!-- Watchlist button only appears when user is logged in -->
{% if user.is_authenticated and watchlist_flag is False %}
<form method = "post" action = "{% url 'listing' listing.id %}">
{% csrf_token %}
    <button type = "submit" value = {{listing.id}} name = 'watchlist_submit' class="btn btn-secondary btn-sm" id = "top-buttons">Watchlist</button>
    {% if owner and active %}
    <!--If the current user is the owner and the listing is active, show the close auction button-->
    <button type = "submit" name = "end_submit" class = "btn btn-danger btn-sm" id = "top-buttons">Close auction</button>

    {% elif owner and not active %}
    <!--If the current user is the owner and the listing is inactive, show the open auction button-->
    <button type = "submit" name = "listing_open" class = "btn btn-primary btn-sm" id = "top-buttons">Open auction</button>
    {% endif %}
</form>
{% elif user.is_authenticated and watchlist_flag is True %}
<button type = "submit" value = {{listing.id}} disabled = true name = 'watchlist_submit' class="btn btn-secondary btn-sm" id = "top-buttons">Already watchlisted</button>
{% endif %}
<div id = "sm-space">
</div>



<!-- Image of the listing (if provided) -->
{% if listing.image %}
    <img src = "{{listing.image.url}}" style = "height:400px; width:auto;">
{% endif %}
<div id = "xs-space">
</div>

<!-- Description -->
<p>{{listing.description}}</p>




<div id = "xs-space">
</div>

<!-- if the auction is still open, show the bid form -->
    {% if active %}
        <h2><b>${{maxbid|floatformat:2 }}</b></h2>
        {{number_bids}} bid(s) so far. {% if lead_bidder.id == request.user.id%} Your bid is the current bid {% endif%}
    <!-- Show bid form only when user is logged in-->
        {% if user.is_authenticated %}
                <form method ='post', action = '{% url "listing" listing.id %}'>
                    {% csrf_token %}
                    {{bidform.as_p}}
                    <input type = "submit" name = "bid_submit" class = "btn btn-primary"  value = "Submit Bid">
                </form>
        {% endif %}
    <!-- when auction is closed-->
    {% else %}
        <h2> <b>Auction ended </b></h2> {{lead_bidder}}/#{{lead_bidder.id}} has won with a bid of ${{maxbid|floatformat:2}}
    {% endif %}

<div id = "sm-space">
</div>

<h3><b> Details </b> </h3>
<ul>
    <li>Listed by: {{listing.user}}</li>
    <li>Category: <a href = "{% url "category" listing.category%}">{{listing.category}}</a></li>
    <li>Created: {{listing.pub_date}}</li>
</ul>
<div id = "md-space">
</div>

<!--Comments of users-->
<h2> <b> Comments </b></h2>

{% if not comments %}
<p> No comments
</p>

{% else %}
{% for comment in comments %}
<p> 
    <h4>{{comment.user}}/#{{comment.user.id}}</h4>
    {{comment.text}}
</p>
<br>
{% endfor %}

{% endif %}


<!-- Show comment form only if user is logged in-->
{% if user.is_authenticated %}
<form method ='post', action = '{% url "listing" listing.id %}'>
    {% csrf_token %} 
    <p>   
        {{commentform.text.errors}}
        {{commentform.text.label_tag}}<br>
        {{commentform.text}}
    </p>
<input type = "submit" name = "comment_submit" class = "btn btn-primary" value = "Submit Comment">
</form>
{% endif %}
<div id = "xs-space">
</div>

{% endblock %}
